//need to create variables for the colours to enable implementation of a light and dark mode theme

:root{
    --primary-color: white;
    --secondary-color: #f7f7f7;
    --text-color: black;
    --text-secondary: rgb(30, 30, 30);
    --highlighted-color: #005eff; 
    --background-feature: #77a9ff;
}
.dark-theme{
    --primary-color: #40444b;
    --secondary-color: #36393f;
    --text-color: #ffffff;
    --text-secondary:#f7f7f7;

}

p{
    color: var(--text-secondary);
}

.svg-icon {
    fill: var(--text-color);
}

body{
    height: 100vh;
    margin: 0;
    /*font-family: ; add a global font to the website may need to import (, for a fallback font)*/
}

img{width: 100%;}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.nav-container{
    position: relative;
    height: auto;
    background-color: var(--primary-color);

    .social-header{
        position: absolute;
        display: flex;
        right: 10em;
        
    
        ul{
            display: flex;
            justify-content: space-between;
            width: 4em;
            
    
            img{
                width: 20px;
                
            }
        }
    }

    

}
.logo{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

    .logo {
        color: var(--highlighted-color);
        font-weight: bold;
        font-size: 20px;
        text-align: none;
    }

    ul {
        display: flex;
        margin: 0;
        padding:0;
        list-style: none;

        a{
            text-decoration: none;
            display: block;
            padding: 0 1em;
            color:var(--text-color);
        }

    }
    

}

#moon-icon{
    width: 20px;
    cursor: pointer;
    padding: 0 16px;
}

.centered-image{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.portfolio-button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 3em;
    transition: background-color 0.4s ease-in;
    img{
        width: 20px;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        margin-right: 10px;
    }
    
}

.portfolio-button:hover{
    background-color: var(--background-feature);
}

@media only screen and (max-width: 799px){
    .portfolio-button-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}


@media only screen and (max-width: 1049px) {
    .toggle-hamburger{
        position: absolute;
        right: 1em;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30px;
        height: 24px;
        cursor: pointer;
    
        .bar{
            height: 4px;
            width: 30px;
            border-radius: 10px;
            background-color: var(--text-color);
        }
    }


    
    .nav-links{
        display: none;
    }

    header{
        flex-direction: column;
        align-items: flex-start;
        
    }
    nav{
        width:100%;
        
        ul{
            margin-bottom: -20px;
            flex-direction: column;
            text-align: center;
            padding-top: 1em;
            a{
                padding:0.3em;
            }
        }
    }
    li:hover{
        background-color: var(--secondary-color);
    }
    .nav-links.active{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
}

.hero-design{
    display: none;
}

.hero{
    background: var(--secondary-color);
    color: var(--text-color);
    display: grid;
    text-align: center;
    padding: 4em;
}


.highlighted-color{
    color:var(--highlighted-color);
}

.stagger1{
    white-space:nowrap;
}

.meet{
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: var(--text-color);

    span{
        margin-top:-1.4em;
        margin-right: 4em;
    }
}

.hero-director{
    width: 30px;
    margin-top: 2em;

}

section{
    padding: 4em 2em;
    text-align: center;
}

@media only screen and (max-width:450px){
    .responsive-wrap{
        width: 120px;
        height: auto;
        white-space: pre-wrap;
    }
}

.subtitle{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--highlighted-color);
    letter-spacing: .2em;
    font-size: .85em;
}
.featured{
    background: var(--secondary-color);
}
.featured-title{
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.featured-desc{
    color: var(--text-secondary);
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}

.skills{
    background: var(--background-feature);
}

.skills-container ul li{
    background: var(--secondary-color);
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container{
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        &.one{
            width: 80px;
        }

        &.two{
            width: 95px;
        }

        &.three{
            width: 80px;
        }
        
    }

    .skill-title{
        font-weight: bold;
    }

    .featured-desc{
        margin-bottom: 2em;
    }

}



.portfolio{
    background: var(--secondary-color);
    text-align: center;
}

.portfolio-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
}

@media only screen and (min-width:800px) {

    .featured, .portfolio {
        text-align: left;
    }

    .featured, .portfolio-container{
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left, .portfolio-left{
        display: grid;
        place-content: center;
        
    }

    .right {
        margin-left: 2em;
        margin-top: 1em;
    }

    .skills {
        
        margin-top: -5em;
        
        margin-bottom: -7em;
        
         
        padding-top: 7em;
    }

    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }

    .portfolio{
        padding-top: 7em;
    }

    .portfolio-container img {
        margin-left: 2em;
    }

    .about-me-container{
        display: flex;
        align-items: center;
    }
    
    .about-me-left{
        flex:0 0 auto;
        margin-right: 1em;

        img{
            min-width: 400px;
            min-height: 400px;
        }
    }

    
    
    .about-me-right{
        flex:1 1 auto;
        padding-right: 2em;
        padding-left: 4em;
    }

}

.about-me{
    background: var(--secondary-color);
    color: var(--text-color);
}



@media only screen and (min-width: 1050px){
    .toggle-hamburger{
        display:none;
    }
    .hero{
        height: 90vh;
        background: var(--secondary-color);
    }
    .nav-container{
        display: grid;
        grid-template-columns: 66% auto;
        background: var(--primary-color);
        
    }

    header{
        padding: 2em 2em 2em 4em;
    }

    .social-header{
        padding: 2em 4em 2em 0;
    }
    section{
        padding: 4em;
    }
    
    .hero{
        display: grid;
        grid-template-columns: 66% auto;
        background: var(--secondary-color);
        padding: 0;

        .content{
            background: var(--secondary-color);
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1{
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }
    .meet{
        margin: unset;
    }
    .hero-design{
        display: unset;
        margin-left: -20%;
        margin-top: 15%;
        width: 100%;
        
    }

    .portfolio img{
        float: right;
        max-width: 500px;
    }

    .about-me-left{
        max-width: 500px;
        float:left;
    }
}

@media only screen and (min-width: 1250px){
    header{
        padding: 2em 2em 2em 10em;
    }

    .social-header{
        padding: 2em 10em 2em 0;
    }
    section{
        padding: 10em 10em 4em 10em;
    }
    .hero .content{
        padding: 6em 8em 6em 10em;
    }
}

@media only screen and (min-width: 1550px){
    header{
        padding: 2em 2em 2em 20em;
    }

    .social-header{
        padding: 2em 20em 2em 0;
    }
    section{
        padding: 10em 20em 4em 20em;
    }
    .hero .content{
        padding: 9em 20em 6em 20em;
    }
}






.down-animation{
    animation: downAnim 2s infinite alternate-reverse;
}

@keyframes downAnim{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(0 ,15px);
    }
}

